* {
  box-sizing: border-box;
}

header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  width: auto;
}

header a {
  background-image: url("./Images/Rabab.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-flex;
  padding-right: 150px;
  text-align: center;
}
header h1 {
  display: inline-flex;

  text-align: center;
}

.navigation {
  width: auto;
  display: flex;
}
.hidden {
  display: none;
}
.navigation ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}
.navigation li {
  padding-right: 20px;
}

main {
  background-color: hsl(1, 50, 300);
}
.rabab {
  height: 200px;
  display: inline-flex;
}
.images {
  background-color: black;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.Skills {
  background-color: whitesmoke;
  display: block;
}

#hiddenclickimg {
  display: none;
}

.workImg img {
  height: 200px;
  width: 200px;
  display: none;
  flex-direction: row;
}

.workImg {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}


footer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  width: auto;
}

.contact {
  background-color: whitesmoke;
  display: flex;
  width: 100%;

  justify-content: center;
  align-content: flex-end;
}



.old {
  
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.social {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

